<%- include('includes/head.ejs') %> <!--If you render if equals sign (=) it'll render as text file-->
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>
</body>
<%- include('includes/end.ejs') %>